.table_header {
  text-align: left;
  padding: 14px 0px 14px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: var(--grey-70);
}
